.main-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: $main_color;

  .main_slider_title {
    max-width: 900px;
  }

  span {
    font-weight: $font_weight_light;
    color: #D89D91;
  }
  h1 {
    color: $white;
    font-size: $slider_font_size;
    z-index: 1;
    text-align: center;
  }
  .slider-buttons {
    z-index: 1;
  }
  .sl-button {
    margin: 5px;
  }

}