button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 3px;
	padding: 8px 15px 10px 15px;
	cursor: pointer;
	min-width: 155px;
	border-radius: 62px;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.sl-button {
	background: $background_none;
	border: 1px solid $white;
	color: $white;
	&:hover {
		background: $white;
		transition: .4s;
		color: $main_color;
	}
}