footer {
  background: $footer_color;

  .footer_top h3{
    font-size: 50px;
  }

  .footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .footer_left {
      flex: 1;
    }
    .footer_right {
      flex: 1;
    }
  }
}