.process-main {
  background: rgb(241, 229, 225);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .process {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  
  .about-us-child-1 {
    background: lightyellow;
    flex: 1;
    min-width: 320px;
    padding: 20px;
  }
  .about-us-child-2 {
    flex: 1;
    min-width: 320px;
    padding: 20px;
  }
}

.aktuellt {
  height: 200px;
}